body{
    font-family: "Lato", sans-serif;
    max-width: 75rem;
    margin: auto;
    height: 100vh;
}

header{
    background-image:url(SharingFood.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height:200px;
    width: 100%;
    margin: auto;
}

/**** Menu Style *****************************************/
nav {
    border-bottom: 1px solid black;
}

ul.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navlist li
{
    float: left;
    display: inline;
}

ul.navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navlist li a:hover {
    background-color: #111;
}

/**** Styling for main part */

main {
    border-bottom: 0.5rem solid;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
}

section, aside {
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 100%;
}

aside {
    min-width: 20%;
    max-width: 25%;
    width: 25%;
    background-color: #deded8;
}

section {
    min-width: 70%;
    max-width: 75%;
    width: 75%;
}

#hiddenSection{
    width: 50%;
}

/*Styling for search in aside*/
.search{
    display: block;
    width: auto;
    text-align: left;
}

.center {
    border: 3px solid green;
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}

/* Styling for text inputs in the form*/
.textInput {
    display: block;
    width: auto;
    text-align: left;
}